/* body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
  margin: 0;
} */
.logingPage {
  display: flex;
  margin: 3rem;
  padding: 0 20px;
  justify-content: space-evenly;
}
.Identification {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  width: 300px;
  .textIdentification {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
}

.Inscription {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;

  width: 300px;
  .textInscription {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

button {
  margin-top: 15px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}
